# Learn more:
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# IDE
.idea/
.idea/workspace.xml
.vscode/

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
ios/
android/

# Certificates / Keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# Debug Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Environment files
.env*.local
.env
# TypeScript
*.tsbuildinfo

# Example app
app-example